:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --container: hsl(213, 19%, 18%);
  --buttonColor: hsl(210, 15%, 21%);
  --background: hsl(216, 12%, 8%);
  --Orange: hsl(25, 97%, 53%);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--White);
  font-size: 15px;
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 25rem;
  min-height: auto;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: var(--container);
  /* display: none; */
}

#icon {
  background-color: var(--buttonColor);
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  margin-bottom: 1.7rem;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1rem;
}

main p {
  margin-bottom: 1.3rem;
}

p {
  line-height: 1.4;
  color: var(--LightGrey);
}

.button-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  margin-bottom: 1.3rem;
}

.button:hover {
  background-color: var(--LightGrey);
  transition: background-color 150ms ease;
}

.button {
  font-weight: 700;
  cursor: pointer;
  color: var(--White);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: var(--buttonColor);
}

.submit-button {
  color: var(--White);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--Orange);
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--White);
  color: var(--Orange);
}

.active-buttons {
  background-color: var(--Orange);
}

/* PAGE 2 */
.thankyou-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  min-height: auto;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: var(--container);
}

#span-container {
  margin: 1.5rem;
  color: var(--Orange);
  background-color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.thankyou-container p {
  text-align: center;
}
